<!DOCTYPE html>
<html>

<head>
    <title>K-iros Soluciones</title>
    <link href="css/principal.css" rel="stylesheet">
    <script src="Controls.js"></script>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Hind+Siliguri|Teko&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:600&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/scrollreveal"></script>

</head>

<body>

    <nav class="navbar navbar-expand-md navbar-light bg-light scrollig-navbar fixed-top main-menu" id="navegacion">
        <div class="container main-menu">
            <a class="navbar-brand"> <img src="imagenes/logo p.png" /></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#principal">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="principal">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="index.html" class="nav-link main-menu__link ">Inicio</a></li>
                    <li class="nav-item"><a href="#soluciones" class="nav-link main-menu__link">La empresa</a></li>
                    <li class="nav-item"><a href="#productos_y_servicios"class="nav-link main-menu__link">Productos/Servicios</a></li>
                    <li class="nav-item"><a href="#contactanos" class="nav-link main-menu__link">Contactanos</a></li>
                    <li class="nav-item"><a href="" class="nav-link main-menu__link">Blog</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <section id="soluciones" style="margin-top: 100px;">
        <div class="container ">
            <h2 class="main-content__title"> Nuestra empresa</h1>
                <div class="row">
                    <div class="col-md-6 col-sm-6 mt-20">
                        <div class="header-content-left">
                            <p class="mt-5"> Somos una empresa dedicada al soporte, asesoría, servicio técnico,
                                mantenimiento preventivo y correctivo en equipos
                                comunicacionales y de sistemas informáticos para todo tipo de compañías y personas.
                                Nuestro
                                compromiso como empresa
                                es satisfacer a nuestros clientesSomos una empresa dedicada al soporte, asesoría,
                                servicio
                                técnico, mantenimiento preventivo y correctivo en equipos
                                comunicacionales y de sistemas informáticos para todo tipo de compañías y personas.
                                Nuestro
                                compromiso como empresa
                                es satisfacer a nuestros clientes brind</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="header-content-right">
                            <img src="imagenes/soluciones.jpg" style="width: 100%;">
                        </div>
                    </div>
                </div>
        </div>
    </section>


    <section id="info" style="margin-top: 100px;">
        <div class="container ">
            <div class="row">
                <div class="col-md-6 col-sm-6 mt-20">
                    <div class="header-content-left">
                        <img src="imagenes/desarrollo.png" style="width: 100%;">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="header-content-right">
                        <h2 class="main-content__subtitle" style="color:#808080;">Necesitas una pagina web?</h2>
                        <p class="mt-5">Amet possimus omnis dolore aliquid quam. Officiis nulla nam laudantium iure
                            amet.
                            Debitis maiores enim modi porro sunt. Ratione harum quasi odit nemo rerum eveniet dolorem
                            quas rem asperiores voluptate!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    <section class="mt-5 " id="productos_y_servicios">

        <h2 Class="main-subtitle__center ">Productos y servicios</h2>
        <div class="gallery container">                   
            <div class="gallery__items">
                <div class="gallery__items--title"></div>
                <div>
                    <img class=" gallery__items--img" src="imagenes/repair.png"/>
                    <div class="gallery__info">
                        <h3>title</h3>
                        <p>Amet possimus omnis dolore aliquid quam. Officiis nulla nam laudantium iure amet.
                         Debitis maiores enim modi porro sunt. Ratione harum quasi odit nemo rerum eveniet dolorem 
                         squas rem asperiores voluptate!</p>
                    </div>
                </div>
            </div>
            <div class="gallery__items">
                <div class="gallery__items--title"></div>
                <div>
                    <img class=" gallery__items--img" src="imagenes/network.png"/>
                </div>
                <div class="gallery__info" >
                    <h3>title</h3>
                    <p>Amet possimus omnis dolore aliquid quam. Officiis nulla nam laudantium iure amet.
                     Debitis maiores enim modi porro sunt. Ratione harum quasi odit nemo rerum eveniet dolorem 
                     squas rem asperiores voluptate!</p>
                </div>
            </div>
            <div class="gallery__items">
                <div class="gallery__items--title"></div>
                <div>
                    <img class=" gallery__items--img"src="imagenes/develoment.png"/>
                </div>
                <div class="gallery__info">
                    <h3>title</h3>
                    <p>Amet possimus omnis dolore aliquid quam. Officiis nulla nam laudantium iure amet.
                     Debitis maiores enim modi porro sunt. Ratione harum quasi odit nemo rerum eveniet dolorem 
                     squas rem asperiores voluptate!</p>
                </div>
            </div>
        </div>
    </section>

    <footer>

        <small >©Copyright 2020 - K-iros. Designed by
            <address style="color: #ffffff;text-align: center">Tel: 3126631680</address>
        </small>
    </footer>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script>
        window.sr = ScrollReveal();

        sr.reveal('.navbar', {
            duration: 2000,
            origin: 'bottom'
        });

        sr.reveal('.header-content-left', {
            duration: 2000,
            origin: 'top',
            distance: '300px'
        });

        sr.reveal('.header-content-right', {
            duration: 2000,
            origin: 'right',
            distance: '300px'
        });

        sr.reveal('.form_login', {
            duration: 2000,
            delay: 1000,
            origin: 'bottom'
        });

        sr.reveal('#testimonial div', {
            duration: 2000,
            origin: 'left',
            distance: '300px',
            viewFactor: 0.2
        });

        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();

                document.querySelector(this.getAttribute('href')).scrollIntoView({
                    behavior: 'smooth'
                });
            });
        });
    </script>

</body>


</html>